﻿
@{
    /**/

    ViewBag.Title = "Locations";
    ViewBag.Header = "Locations";
    string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="LocationsSearch"></div>




<div class="row" id="filterView">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample">

            <form action="" class="form p-3 mb-0 bg-light" method="get">
                <div class="row">

                    <div class="form-group col-sm-12 col-md-3">
                        <small>Name</small>
                        <input type="text" name="name" id="name" value="" placeholder="Name" class="form-control form-control-sm" v-model="formsearch.Name">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Code</small>
                        <input type="text" name="code" id="code" value="" placeholder="Code" class="form-control form-control-sm" v-model="formsearch.Code">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Info</small>
                        <input type="text" name="info" id="info" value="" placeholder="Info" class="form-control form-control-sm" v-model="formsearch.Info">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>ParentId</small>
                        <input type="text" name="parentId" id="parentId" value="" placeholder="ParentId" class="form-control form-control-sm" v-model="formsearch.ParentId">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>LocationTypeId</small>
                        <input type="text" name="locationTypeId" id="locationTypeId" value="" placeholder="LocationTypeId" class="form-control form-control-sm" v-model="formsearch.LocationTypeId">
                    </div>


                    <div class="form-group col-sm-12 text-right mb-0">
                        <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" name="act">
                            Search
                        </button>
                        <button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
                            Export
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filter/Export
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                New
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>LocationType Name</th>
                    <th>Info</th>
                    <th>Parent Name</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Name">Name</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Name field is required." id="Name"
                                                   name="Name" type="text" value="" v-model="form.Name" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Code">Code</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Code field is required." id="Code"
                                                   name="Code" type="text" value="" v-model="form.Code" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Info">Info</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Info field is required." id="Info"
                                                   name="Info" type="text" value="" v-model="form.Info" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ParentId">ParentId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ParentId field is required." id="ParentId"
                                                   name="ParentId" type="text" value="" v-model="form.ParentId" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="LocationTypeId">LocationTypeId</label>
                                            <select2 name="LocationTypeId" id="LocationTypeId" class="form-control form-control-sm" v-model="form.LocationTypeId">
                                                <option v-for="item in list.LocationTypes" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                            </select2>
                                        </div>


                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">


                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ form.Name }}</dd>

                        <dt class="col-sm-3">Code</dt>
                        <dd class="col-sm-9">{{ form.Code }}</dd>

                        <dt class="col-sm-3">Info</dt>
                        <dd class="col-sm-9">{{ form.Info }}</dd>

                        <dt class="col-sm-3">ParentId</dt>
                        <dd class="col-sm-9">{{ form.ParentId }}</dd>

                        <dt class="col-sm-3">LocationTypeId</dt>
                        <dd class="col-sm-9">{{ form.LocationTypeId }}</dd>




                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

                        <dt class="col-sm-3">Updated</dt>
                        <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var _form = {
                Id: 0,
Name: "",
Code: "",
Info: "",
ParentId: "",
LocationTypeId: ""
            };

            var _formsearch = {
                Id: 0,
Name: "",
Code: "",
Info: "",
ParentId: "",
LocationTypeId: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },

                {"data": "Name" },
                {"data": "Code" },
                {"data": "LocationTypeName" },
                {"data": "Info" },
                {"data": "ParentName" },
                {"data": "RecordStatusText" },
                {"data": "CreatedAtText" },
                {"data": "UpdatedAtText" }
            ];

            var _list = {
                id: 0,
                LocationTypes : @Html.Raw(ViewBag.LocationTypes)
            };

            FormUtil.Init({
                entity: 'Account/Locations',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}
