﻿@{
    ViewBag.Title = "SiteUsers";
    ViewBag.Header = "SiteUsers";
    string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="SiteUsersSearch"></div>




<div class="row" id="filterView">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample">

            <form action="" class="form p-3 mb-0 bg-light" method="get">
                <div class="row">

                    <div class="form-group col-sm-12 col-md-3">
                        <small>UserName</small>
                        <input type="text" name="userName" id="userName" value="" placeholder="UserName" class="form-control form-control-sm" v-model="formsearch.UserName">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>FirstName</small>
                        <input type="text" name="firstName" id="firstName" value="" placeholder="FirstName" class="form-control form-control-sm" v-model="formsearch.FirstName">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>LastName</small>
                        <input type="text" name="lastName" id="lastName" value="" placeholder="LastName" class="form-control form-control-sm" v-model="formsearch.LastName">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Email</small>
                        <input type="text" name="email" id="email" value="" placeholder="Email" class="form-control form-control-sm" v-model="formsearch.Email">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Mobile</small>
                        <input type="text" name="mobile" id="mobile" value="" placeholder="Mobile" class="form-control form-control-sm" v-model="formsearch.Mobile">
                    </div>
               
                    <div class="form-group col-sm-12 col-md-3">
                        <small>UserStatusId</small>
                        <input type="text" name="userStatusId" id="userStatusId" value="" placeholder="UserStatusId" class="form-control form-control-sm" v-model="formsearch.UserStatusId">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>MobileValidated</small>
                        <input type="text" name="mobileValidated" id="mobileValidated" value="" placeholder="MobileValidated" class="form-control form-control-sm" v-model="formsearch.MobileValidated">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>EmailValidated</small>
                        <input type="text" name="emailValidated" id="emailValidated" value="" placeholder="EmailValidated" class="form-control form-control-sm" v-model="formsearch.EmailValidated">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>IsLookedOut</small>
                        <input type="text" name="isLookedOut" id="isLookedOut" value="" placeholder="IsLookedOut" class="form-control form-control-sm" v-model="formsearch.IsLookedOut">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>UserStamp</small>
                        <input type="text" name="userStamp" id="userStamp" value="" placeholder="UserStamp" class="form-control form-control-sm" v-model="formsearch.UserStamp">
                    </div>
                

                    <div class="form-group col-sm-12 text-right mb-0">
                        <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" name="act">
                            Search
                        </button>
                        <button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
                            Export
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filter/Export
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                New
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>UserName</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Mobile</th> 
                    <th>Password Changed</th>
                    <th>User Status</th>
                    <th>Mobile Ok</th>
                    <th>Email Ok</th>
                    <th>Is LockedOut</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="UserName">UserName</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The UserName field is required." id="UserName"
                                                   name="UserName" type="text" value="" v-model="form.UserName" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="FirstName">FirstName</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The FirstName field is required." id="FirstName"
                                                   name="FirstName" type="text" value="" v-model="form.FirstName" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="LastName">LastName</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The LastName field is required." id="LastName"
                                                   name="LastName" type="text" value="" v-model="form.LastName" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Email">Email</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Email field is required." id="Email"
                                                   name="Email" type="text" value="" v-model="form.Email" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Mobile">Mobile</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Mobile field is required." id="Mobile"
                                                   name="Mobile" type="text" value="" v-model="form.Mobile" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Password">Password</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Password field is required." id="Password"
                                                   name="Password" type="text" value="" v-model="form.Password" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="PIN">PIN</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The PIN field is required." id="PIN"
                                                   name="PIN" type="text" value="" v-model="form.PIN" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="Token">Token</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Token field is required." id="Token"
                                                   name="Token" type="text" value="" v-model="form.Token" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="AppId">AppId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The AppId field is required." id="AppId"
                                                   name="AppId" type="text" value="" v-model="form.AppId" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="PasswordChangedAt">PasswordChangedAt</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The PasswordChangedAt field is required." id="PasswordChangedAt"
                                                   name="PasswordChangedAt" type="text" value="" v-model="form.PasswordChangedAt" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="UserStatusId">UserStatusId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The UserStatusId field is required." id="UserStatusId"
                                                   name="UserStatusId" type="text" value="" v-model="form.UserStatusId" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="MobileValidated">MobileValidated</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The MobileValidated field is required." id="MobileValidated"
                                                   name="MobileValidated" type="text" value="" v-model="form.MobileValidated" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="EmailValidated">EmailValidated</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The EmailValidated field is required." id="EmailValidated"
                                                   name="EmailValidated" type="text" value="" v-model="form.EmailValidated" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="IsLookedOut">IsLookedOut</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The IsLookedOut field is required." id="IsLookedOut"
                                                   name="IsLookedOut" type="text" value="" v-model="form.IsLookedOut" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="UserStamp">UserStamp</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The UserStamp field is required." id="UserStamp"
                                                   name="UserStamp" type="text" value="" v-model="form.UserStamp" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="CountryId">CountryId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The CountryId field is required." id="CountryId"
                                                   name="CountryId" type="text" value="" v-model="form.CountryId" />
                                        </div>


                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">


                        <dt class="col-sm-3">UserName</dt>
                        <dd class="col-sm-9">{{ form.UserName }}</dd>

                        <dt class="col-sm-3">FirstName</dt>
                        <dd class="col-sm-9">{{ form.FirstName }}</dd>

                        <dt class="col-sm-3">LastName</dt>
                        <dd class="col-sm-9">{{ form.LastName }}</dd>

                        <dt class="col-sm-3">Email</dt>
                        <dd class="col-sm-9">{{ form.Email }}</dd>

                        <dt class="col-sm-3">Mobile</dt>
                        <dd class="col-sm-9">{{ form.Mobile }}</dd>
                         
                        <dt class="col-sm-3">PasswordChangedAt</dt>
                        <dd class="col-sm-9">{{ form.PasswordChangedAtText }}</dd>
 
                        <dt class="col-sm-3">MobileValidated</dt>
                        <dd class="col-sm-9">{{ form.MobileValidated }}</dd>

                        <dt class="col-sm-3">EmailValidated</dt>
                        <dd class="col-sm-9">{{ form.EmailValidated }}</dd>

                        <dt class="col-sm-3">IsLookedOut</dt>
                        <dd class="col-sm-9">{{ form.IsLockedOut }}</dd>

                        <dt class="col-sm-3">UserStamp</dt>
                        <dd class="col-sm-9">{{ form.UserStamp }}</dd>
                         

                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

                        <dt class="col-sm-3">Updated</dt>
                        <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var _form = {
                Id: 0,
UserName: "",
FirstName: "",
LastName: "",
Email: "",
Mobile: "",
Password: "",
PIN: "",
Token: "",
AppId: "",
PasswordChangedAt: "",
UserStatusId: "",
MobileValidated: "",
EmailValidated: "",
IsLookedOut: "",
UserStamp: "",
CountryId: ""
            };

            var _formsearch = {
                Id: 0,
UserName: "",
FirstName: "",
LastName: "",
Email: "",
Mobile: "",
Password: "",
PIN: "",
Token: "",
AppId: "",
PasswordChangedAt: "",
UserStatusId: "",
MobileValidated: "",
EmailValidated: "",
IsLookedOut: "",
UserStamp: "",
CountryId: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },
                {
                    "data": "UserName",
                    "render": function (data, type, row, meta) {
                        return '<samp>' + data + '</samp>';
                    }
                },
                {"data": "FirstName" },
                {"data": "LastName" },
                {
                    "data": "Email",
                    "render": function (data, type, row, meta) {
                        return '<samp>' + data + '</samp>';
                    }
                },
                {
                    "data": "Mobile",
                    "render": function (data, type, row, meta) {
                        return '<samp>' + data + '</samp>';
                    }
                },  
                {"data": "PasswordChangedAtText" },
                {"data": "UserStatusText" },
                {"data": "MobileValidated" },
                {"data": "EmailValidated" },
                {"data": "IsLockedOut" }
            ];

            var _list = {
                id: 0
            };

            FormUtil.Init({
                entity: 'Account/SiteUsers',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}

