﻿
@{
    ViewBag.Title = "Approve Merchant";
}
 

<div id="appCorporateUpdateView">
    <div class="row">
        <div class="col-md-8">
          
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Business Name</label>
                                <input type="text" id="Name" name="Name" class="form-control" v-model="model.Name" readonly="readonly">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Business Code</label>
                                <input type="text" id="Code" name="Code" class="form-control" v-model="model.Code" readonly="readonly">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <input type="text" id="Country" name="Country" class="form-control" v-model="model.CountryName" readonly="readonly">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-danger">
                                <label class="control-label">Registration ID</label>
                                <input type="text" id="RegId" name="RegId" class="form-control" v-model="model.RegId" readonly="readonly">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Friendly name</label>
                                <input type="text" id="PublicName" name="PublicName" class="form-control" v-model="model.PublicName" readonly="readonly">

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Corporate Status</label>
                                <input type="text" id="CorporateStatusText" name="CorporateStatusText" class="form-control" v-model="model.CorporateStatusText" readonly="readonly">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-danger">
                                <label class="control-label">Created</label>
                                <input type="text" id="CreatedAtText" name="CreatedAtText" class="form-control" v-model="model.CreatedAtText" readonly="readonly">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Updated</label>
                                <input type="text" id="UpdatedAtText" name="UpdatedAtText" class="form-control" v-model="model.UpdatedAtText" readonly="readonly">

                            </div>
                        </div>

                    </div>
 

            
        </div>
        <div class="col-md-4">
            <div class="card">

                <form method="post" @@submit.prevent="submit">

                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label> 
                                        <textarea id="Remarks" name="Remarks" class="form-control" v-model="form.Remarks"></textarea>
                                        <small class="form-control-feedback">Reason for approval or rejection </small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="Verdict1"  name="Verdict" type="radio" value="approved" v-model="form.Verdict" />
                                        <label>Approved</label>
                                        <input id="Verdict2" name="Verdict" type="radio" value="rejected" v-model="form.Verdict" />
                                        <label>Rejected</label> 
                                    </div>
                                </div>
                            </div>  
                        </div> 

                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <button type="button" class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        var pageApp = new Vue({
            el: '#appCorporateUpdateView',
            data: {
                model: @Html.Raw(ViewBag.Model),
                form: @Html.Raw(ViewBag.Form),

            },
            methods: {
                submit: function () {
                    var req = MerchantDataUtil.ApproveMerchant(pageApp.form);
                    req.done(function (data) {
                        ShowLoading("Approval/Rejection Successfully");
                    });
                    req.fail(function (data) {
                        ShowLoading("Approval/Rejection Failed",'error');
                    });
                    return 1;
                }
            }
        }); 
    </script>
}