﻿@model Bootes.Core.Domain.Form.Account.CorporateForm
@{
    ViewBag.Title = "New Merchant";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="row" id="appView">

 
    <div class="col-md-12">
        <div class="card">
            <form method="post" autocomplete="off">
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Business Name</label>
                                    <input type="text" id="Name" name="Name" class="form-control" v-model="form.Name">
                                    <small class="form-control-feedback">Your business' registered name </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <select2 name="CountryId" id="countryId" v-model="form.CountryId">
                                        <option v-for="item in Countries" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                    </select2>
                                    <small class="form-control-feedback">What country is your HQ located? </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">Registration ID</label>
                                    <input type="text" id="regId" name="RegId" class="form-control" v-model="form.RegId">
                                    <small class="form-control-feedback"> Enter your company's registration ID </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Friendly name</label>
                                    <input type="text" id="publicName" name="PublicName" class="form-control" v-model="form.PublicName">
                                    <small class="form-control-feedback"> Friendly name of max 15 characters</small>
                                </div>
                            </div>

                        </div>
                         

                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var _list = {
            id: 0,
             Countries: @Html.Raw(ViewBag.Countries),
        };

        function setForm() {
            var _form =  @Html.Raw(ViewBag.Form);
            return _form;
        }


        var app = new Vue({
            el: '#appView',
            data: {
                form: setForm(),
                Countries : _list.Countries
            }
        });
    </script>
}