﻿
@{
    ViewBag.Title = "My Merchants";
}
@section breadcrumbs
{ 
    <li class="breadcrumb-item active" aria-current="page">My Merchants</li>

}

<div id="appCorporateHomeView">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <span>

                </span>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">Merchant Name</th>
                                <th class="border-top-0">Friendly Name</th> 
                                <th class="border-top-0">Country</th>
                                <th class="border-top-0">Registration ID</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Created</th>
                                <th class="border-top-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in corporates">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <a class="btn btn-circle btn-info text-white" v-html="item.NameLogo"></a>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16" v-html="item.Name"></h4>
                                        </div>
                                    </div>
                                </td>
                                <td v-html="item.PublicName"></td>  
                                <td>
                                    <i class="flag-icon" :class="'flag-icon-' + item.CountryCodeLower" :title="item.CountryCodeLower" :id="item.CountryCodeLower"></i>
                                    <span v-html="item.CountryCode"></span>
                                </td>
                                <td>
                                    <h5 class="m-b-0" v-html="item.RegId"></h5>
                                </td>
                                <td>
                                    <label class="label" :class="'label-' + item.CorporateStatusColor" v-html="item.CorporateStatusText"></label>
                                </td>
                                <td v-html="item.CreatedAtText"></td>
                                <td>
                                    <a :href="_baseurl + '/Corporates/Update/' + item.Code" class="btn btn-sm btn-icon btn-pure btn-outline-primary"
                                       data-toggle="tooltip" data-original-title="Update"><i class="ti-pencil" aria-hidden="true"></i></a>

                                    <a v-if="item.CorporateStatus == 2" :href="_baseurl + '/Merchants/Home/' + item.Code" class="btn btn-sm btn-icon btn-pure btn-outline-primary"
                                       data-toggle="tooltip" data-original-title="Home"><i class="ti-home" aria-hidden="true"></i></a>


                                    <a v-if="item.CorporateStatus != 2" href="#" class="btn btn-sm btn-icon btn-pure btn-outline-secondary"
                                       data-toggle="tooltip" data-original-title="Home"><i class="ti-home" aria-hidden="true"></i></a>

                                    <a v-if="item.CorporateStatus == 2" :href="_baseurl + '/Users/Admins/' + item.Code" class="btn btn-sm btn-icon btn-pure btn-outline-primary"
                                       data-toggle="tooltip" data-original-title="Users"><i class="ti-user" aria-hidden="true"></i></a>

                                    <a v-if="item.CorporateStatus != 2" href="#" class="btn btn-sm btn-icon btn-pure btn-outline-secondary"
                                       data-toggle="tooltip" data-original-title="Users"><i class="ti-user" aria-hidden="true"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





</div>



@section scripts {
    <script type="text/javascript">

        var pageApp = new Vue({
            el: '#appCorporateHomeView',
            data: {
                corporates: [],
                userId: '@ViewBag.UserId'
            },
            methods: {
                UserCorporates: function () {
                    var req = MerchantDataUtil.UserCorporates(pageApp.userId);
                    req.done(function (data) {
                        pageApp.corporates = data;
                    });
                    req.fail(function (data) {
                        ShowLoading("could not load merchants");
                    });
                    return 1;
                }
            }
        });
        pageApp.UserCorporates();
    </script>
}