﻿
@{
    ViewBag.Title = "Update Merchant";
}

@section breadcrumbs
{
     
    <li class="breadcrumb-item">
        <a href="@Url.Action("Home","Corporates")">My Merchants</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Update @ViewBag.MerchantName</li>

}

<div id="appCorporateUpdateView">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <form method="post" @@submit.prevent="submit">

                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Business Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control" v-model="form.Name">
                                        <small class="form-control-feedback">Your business' registered name </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Country</label>
                                        <select2 name="CountryId" id="countryId" v-model="form.CountryId">
                                            <option v-for="item in Countries" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                        </select2>
                                        <small class="form-control-feedback">What country is your HQ located? </small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Registration ID</label>
                                        <input type="text" id="regId" name="RegId" class="form-control" v-model="form.RegId">
                                        <small class="form-control-feedback"> Enter your company's registration ID </small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Friendly name</label>
                                        <input type="text" id="publicName" name="PublicName" class="form-control" v-model="form.PublicName">
                                        <small class="form-control-feedback"> Friendly name of max 15 characters</small>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Search Tags</label>
                                        <textarea id="Tags" name="Tags" class="form-control" v-model="form.Tags"></textarea>
                                        <small class="form-control-feedback"> Please separate words with <code>;</code></small>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <button type="button" class="btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        var pageApp = new Vue({
            el: '#appCorporateUpdateView',
            data: {
                form: @Html.Raw(ViewBag.Form),
                Countries: @Html.Raw(ViewBag.Countries)
            },
            methods: {
                submit: function () {
                    var req = MerchantDataUtil.UpdateMerchant(pageApp.form);
                    req.done(function (data) {
                        ShowLoading("Merchant Updated Successfully");
                    });
                    req.fail(function (data) {
                        ShowLoading("Merchant Update Failed",'error');
                    });
                    return 1;
                }
            }
        });
    </script>
}