﻿@{
    ViewBag.Title = "Articles";
    ViewBag.Header = "Articles";
    string sim = Bootes.Core.Common.Constants.API_URL;
}
@section styles{


}

<div class="spp" data-perm="ArticlesSearch"></div>




<div class="row" id="filterView">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample">

            <form action="" class="form p-3 mb-0 bg-light" method="get">
                <div class="row">

                    <div class="form-group col-sm-12 col-md-3">
                        <small>Name</small>
                        <input type="text" name="name" id="name" value="" placeholder="Name" class="form-control form-control-sm" v-model="formsearch.Name">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Title</small>
                        <input type="text" name="title" id="title" value="" placeholder="Title" class="form-control form-control-sm" v-model="formsearch.Title">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Tags</small>
                        <input type="text" name="tags" id="tags" value="" placeholder="Tags" class="form-control form-control-sm" v-model="formsearch.Tags">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>Content</small>
                        <input type="text" name="content" id="content" value="" placeholder="Content" class="form-control form-control-sm" v-model="formsearch.Content">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>EditorType</small>
                        <input type="text" name="editorType" id="editorType" value="" placeholder="EditorType" class="form-control form-control-sm" v-model="formsearch.EditorType">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>AltContents</small>
                        <input type="text" name="altContents" id="altContents" value="" placeholder="AltContents" class="form-control form-control-sm" v-model="formsearch.AltContents">
                    </div>


                    <div class="form-group col-sm-12 text-right mb-0">
                        <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" name="act">
                            Search
                        </button>
                        <button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
                            Export
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filter/Export
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                New
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Tags</th> 
                    <th>EditorType</th>
                    <th>AltContents</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="Name">Name</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Name field is required." id="Name"
                                                   name="Name" type="text" value="" v-model="form.Name" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="Title">Title</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="Title"
                                                   name="Title" type="text" value="" v-model="form.Title" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-12">
                                            <label class="req control-label" for="Tags">Tags</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The Tags field is required." id="Tags"
                                                   name="Tags" type="text" value="" v-model="form.Tags" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-12">
                                            <label class="req control-label" for="Content">Content</label> 
                                            <textarea class="form-control text-box single-line" data-val="true" data-val-required="The Content field is required." id="Content"
                                                   name="Content" v-model="form.Content"></textarea>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-2">
                                            <label class="req control-label" for="EditorType">EditorType</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The EditorType field is required." id="EditorType"
                                                   name="EditorType" type="text" value="" v-model="form.EditorType" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-10">
                                            <label class="req control-label" for="AltContents">AltContents</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The AltContents field is required." id="AltContents"
                                                   name="AltContents" type="text" value="" v-model="form.AltContents" />
                                        </div>


                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">


                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{ form.Name }}</dd>

                        <dt class="col-sm-3">Title</dt>
                        <dd class="col-sm-9">{{ form.Title }}</dd>

                        <dt class="col-sm-3">Tags</dt>
                        <dd class="col-sm-9">{{ form.Tags }}</dd>

                

                        <dt class="col-sm-3">EditorType</dt>
                        <dd class="col-sm-9">{{ form.EditorType }}</dd>

                        <dt class="col-sm-3">AltContents</dt>
                        <dd class="col-sm-9">{{ form.AltContents }}</dd>




                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

                        <dt class="col-sm-3">Updated</dt>
                        <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var _form = {
                Id: 0,
Name: "",
Title: "",
Tags: "",
Content: "",
EditorType: "",
AltContents: ""
            };

            var _formsearch = {
                Id: 0,
Name: "",
Title: "",
Tags: "",
Content: "",
EditorType: "",
AltContents: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },

{"data": "Name" },
{"data": "Title" },
{"data": "Tags" }, 
{"data": "EditorType" },
{"data": "AltContents" },
{"data": "RecordStatusText" },
{"data": "CreatedAtText" },
{"data": "UpdatedAtText" }
            ];

            var _list = {
                id: 0
            };

            FormUtil.Init({
                entity: 'Content/Articles',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}
