﻿
@{
    ViewBag.Title = ViewBag.CorporateName + " Merchant Admins";
    string sim = Bootes.Core.Common.Constants.API_URL;
}
@section breadcrumbs
{  <li class="breadcrumb-item">
        <a href="@Url.Action("Home","Corporates")">My Merchants</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">@ViewBag.CorporateName Admin Users</li>
}



<div class="row" id="filterView">
    <div class="col-md-12">


    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>Role Name</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>IsLockedOut</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">





                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="CorporateRoleId">Role</label>

                                            <select2 name="CorporateRoleId" id="CorporateRoleId" class="form-control" v-model="form.CorporateRoleId">
                                                <option v-for="item in list.CorporateRoles" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                            </select2>

                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="UserStatusId">Status</label>

                                            <select2 name="UserStatusId" id="UserStatusId" class="form-control" v-model="form.UserStatusId">
                                                <option v-for="item in list.UserStatuses" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                            </select2>

                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="IsLockedOut">Locked Out?</label>
                                            <br />
                                            <input checked="checked" id="IsLockedOut" name="IsLockedOut"
                                                   type="checkbox" v-model="form.IsLockedOut" />


                                        </div>
                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="crudModalCreate" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="FirstName">First Name</label>
                                            <input class="form-control text-box single-line" id="FirstName"
                                                   name="FirstName" type="text" value="" v-model="form.FirstName" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="LastName">Last Name</label>
                                            <input class="form-control text-box single-line" id="LastName"
                                                   name="LastName" type="text" value="" v-model="form.LastName" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="Mobile">Mobile</label>
                                            <input class="form-control text-box single-line" id="Mobile"
                                                   name="Mobile" type="text" value="" v-model="form.Mobile" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="Email">Email</label>
                                            <input class="form-control text-box single-line" id="Email"
                                                   name="Email" type="email" value="" v-model="form.Email" />
                                        </div>

                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="CorporateRoleId">Role</label>

                                            <select2 name="CorporateRoleId" id="CorporateRoleId" class="form-control" v-model="form.CorporateRoleId">
                                                <option v-for="item in list.CorporateRoles" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                            </select2>

                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="UserStatusId">Status</label>

                                            <select2 name="UserStatusId" id="UserStatusId" class="form-control" v-model="form.UserStatusId">
                                                <option v-for="item in list.UserStatuses" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                            </select2>

                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="IsLockedOut">Locked Out?</label>
                                            <br />
                                            <input checked="checked" id="IsLockedOut" name="IsLockedOut"
                                                   type="checkbox" v-model="form.IsLockedOut" />


                                        </div>
                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var _form = {
                Id: 0,
                UserId: "",
                CorporateId: "",
                CorporateRoleId: "",
                UserStatusId: "",
                IsLockedOut: "",
                AuthPin: ""
            };

            var _formsearch = {
                Id: 0
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a>';
                    }
                },
                { "data": "CorporateRoleName" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Mobile" },
                { "data": "Email" },
                { "data": "IsLockedOut" },
                {"data": "RecordStatusText" },
                {"data": "CreatedAtText" },
                {"data": "UpdatedAtText" }
            ];
            var _list = {
                id: 0,
                Corporate: @Html.Raw(ViewBag.Corporate),
                CorporateRoles: @Html.Raw(ViewBag.CorporateRoles),
                UserStatuses: @Html.Raw(ViewBag.UserStatuses)
            };
            FormUtil.Init({
                entity: 'Account/CorporateUsers',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModalCreate',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list,
                query: "CorporateId=" + @ViewBag.CorporateId
            });
        });
    </script>
}



