﻿
@{
    ViewBag.Title = "Clients";
    ViewBag.Header = "Clients";
    string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="ClientsSearch"></div>




<div class="row" id="filterView">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample">

            <form action="" class="form p-3 mb-0 bg-light" method="get">
                <div class="row">

                    <div class="form-group col-sm-12 col-md-3">
                        <small>ClientId</small>
                        <input type="text" name="clientId" id="clientId" value="" placeholder="ClientId" class="form-control form-control-sm" v-model="formsearch.ClientId">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>ClientSecret1</small>
                        <input type="text" name="clientSecret1" id="clientSecret1" value="" placeholder="ClientSecret1" class="form-control form-control-sm" v-model="formsearch.ClientSecret1">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>ClientSecret2</small>
                        <input type="text" name="clientSecret2" id="clientSecret2" value="" placeholder="ClientSecret2" class="form-control form-control-sm" v-model="formsearch.ClientSecret2">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>ClientTypeId</small>
                        <input type="text" name="clientTypeId" id="clientTypeId" value="" placeholder="ClientTypeId" class="form-control form-control-sm" v-model="formsearch.ClientTypeId">
                    </div>
                    <div class="form-group col-sm-12 col-md-3">
                        <small>ClientStatusId</small>
                        <input type="text" name="clientStatusId" id="clientStatusId" value="" placeholder="ClientStatusId" class="form-control form-control-sm" v-model="formsearch.ClientStatusId">
                    </div>


                    <div class="form-group col-sm-12 text-right mb-0">
                        <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" name="act">
                            Search
                        </button>
                        <button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
                            Export
                        </button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filter/Export
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                New
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>ClientId</th>
                    <th>ClientSecret1</th>
                    <th>ClientSecret2</th>
                    <th>ClientTypeId</th>
                    <th>ClientStatusId</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ClientId">ClientId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ClientId field is required." id="ClientId"
                                                   name="ClientId" type="text" value="" v-model="form.ClientId" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ClientSecret1">ClientSecret1</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ClientSecret1 field is required." id="ClientSecret1"
                                                   name="ClientSecret1" type="text" value="" v-model="form.ClientSecret1" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ClientSecret2">ClientSecret2</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ClientSecret2 field is required." id="ClientSecret2"
                                                   name="ClientSecret2" type="text" value="" v-model="form.ClientSecret2" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ClientTypeId">ClientTypeId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ClientTypeId field is required." id="ClientTypeId"
                                                   name="ClientTypeId" type="text" value="" v-model="form.ClientTypeId" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label class="req control-label" for="ClientStatusId">ClientStatusId</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ClientStatusId field is required." id="ClientStatusId"
                                                   name="ClientStatusId" type="text" value="" v-model="form.ClientStatusId" />
                                        </div>


                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">


                        <dt class="col-sm-3">ClientId</dt>
                        <dd class="col-sm-9">{{ form.ClientId }}</dd>

                        <dt class="col-sm-3">ClientSecret1</dt>
                        <dd class="col-sm-9">{{ form.ClientSecret1 }}</dd>

                        <dt class="col-sm-3">ClientSecret2</dt>
                        <dd class="col-sm-9">{{ form.ClientSecret2 }}</dd>

                        <dt class="col-sm-3">ClientTypeId</dt>
                        <dd class="col-sm-9">{{ form.ClientTypeId }}</dd>

                        <dt class="col-sm-3">ClientStatusId</dt>
                        <dd class="col-sm-9">{{ form.ClientStatusId }}</dd>




                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

                        <dt class="col-sm-3">Updated</dt>
                        <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var _form = {
                Id: 0,
ClientId: "",
ClientSecret1: "",
ClientSecret2: "",
ClientTypeId: "",
ClientStatusId: ""
            };

            var _formsearch = {
                Id: 0,
ClientId: "",
ClientSecret1: "",
ClientSecret2: "",
ClientTypeId: "",
ClientStatusId: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },

{"data": "ClientId" },
{"data": "ClientSecret1" },
{"data": "ClientSecret2" },
{"data": "ClientTypeId" },
{"data": "ClientStatusId" },
{"data": "RecordStatusText" },
{"data": "CreatedAtText" },
{"data": "UpdatedAtText" }
            ];

            var _list = {
                id: 0
            };

            FormUtil.Init({
                entity: 'Account/Clients',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}
