﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<div class="row" id="appView">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                This is some text within a card block.
                <div style="height:300px"></div>
                <cooltip tip="testing this wefwefwer" position="left">Text</cooltip>
                <br />
                Select: {{ OperatorId }}
                <br />
                Date: {{ MyDate }}
                <div>
                    <select2 name="OperatorId" id="OperatorId" v-model="OperatorId">
                        <option v-for="item in Operators" v-bind:value="item.Id" v-html:value="item.Name"></option>
                    </select2>
                </div>
                <div>
                    <datepicker type="text" class="form-control" v-model="MyDate"></datepicker>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var app = new Vue({
            el: '#appView',
            data: {
                OperatorId: 2,
                MyDate: '05-Mar-1984',
                Operators: [{ Id: 1, Name: "One" }, { Id: 2, Name: "Two" }, { Id: 3, Name: "Three" }, { Id: 4, Name: "Four" }]
            },
        });
    </script>
}