﻿
@{
    ViewBag.Title = "Page";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    var article = ViewBag.Article as Bootes.Core.Domain.Model.Content.ArticleModel;
}

<div class="row"> 
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@article.Title</h4>
                @Html.Raw(article.Content)
            </div>
        </div>
    </div>
 
</div>

