﻿@{
    ViewBag.Title = "EntitySettings";
    ViewBag.Header = "EntitySettings";
    string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="EntitySettingsSearch"></div>
 
<div class="row" id="filterView">
    <div class="col-md-12">
        <div class="collapse" id="collapseExample">


            <form action="" class="form p-3 mb-0 bg-light" method="get">
                <div class="row">

                    <div class="form-group col-sm-12 col-md-4">
                        <small>Entity Type</small>
                        <input type="text" name="entityType" id="entityType" value="" placeholder="EntityType" class="form-control form-control-sm" v-model="formsearch.EntityType">
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <small>Entity Ref</small>
                        <input type="text" name="entityRef" id="entityRef" value="" placeholder="EntityRef" class="form-control form-control-sm" v-model="formsearch.EntityRef">
                    </div>
                    <div class="form-group col-sm-12 col-md-4">
                        <small>SKey</small>
                        <input type="text" name="sKey" id="sKey" value="" placeholder="SKey" class="form-control form-control-sm" v-model="formsearch.SKey">
                    </div>  
                    <div class="form-group col-sm-12 text-right mb-0">
                        <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                            Cancel
                        </button>
                        <button class="btn btn-sm btn-primary" type="submit" name="act">
                            Search
                        </button>
                        <button class="btn btn-sm btn-dark" type="submit" name="act" value="Export">
                            Export
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Filter/Export
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                New
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <table id="grid" class="table" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <a href="javascript:;" onclick="FormUtil.FormCreate()">
                            <i class="fa fa-plus"></i>
                        </a>
                    </th>
                    <th>EntityType</th>
                    <th>EntityRef</th>
                    <th>SKey</th>
                    <th>SVal</th>
                    <th>ParamType</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="appView">
    <!-- Modal -->
    <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" @@submit.prevent="submit">

                                <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                       name="Id" type="hidden" value="0" v-model="form.Id" />
                                <div class="white-box">
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="EntityType">EntityType</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The EntityType field is required." id="EntityType"
                                                   name="EntityType" type="text" value="" v-model="form.EntityType" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="EntityRef">EntityRef</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The EntityRef field is required." id="EntityRef"
                                                   name="EntityRef" type="text" value="" v-model="form.EntityRef" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="SKey">SKey</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The SKey field is required." id="SKey"
                                                   name="SKey" type="text" value="" v-model="form.SKey" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label class="req control-label" for="ParamType">ParamType</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The ParamType field is required." id="ParamType"
                                                   name="ParamType" type="text" value="" v-model="form.ParamType" />
                                        </div>
                                        <div class="form-group col-sm-12 col-md-12">
                                            <label class="req control-label" for="SVal">SVal</label>
                                            <input class="form-control text-box single-line" data-val="true" data-val-required="The SVal field is required." id="SVal"
                                                   name="SVal" type="text" value="" v-model="form.SVal" />
                                        </div>


                                        <div class="form-group col-sm-6">

                                            <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                   type="radio" value="0" v-model="form.RecordStatus" />
                                            <label>Pending</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                            <label>Active</label>
                                            <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                            <label>Disabled</label>
                                        </div>
                                        <div class="form-group col-sm-6 text-right">
                                            <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">


                        <dt class="col-sm-3">EntityType</dt>
                        <dd class="col-sm-9">{{ form.EntityType }}</dd>

                        <dt class="col-sm-3">EntityRef</dt>
                        <dd class="col-sm-9">{{ form.EntityRef }}</dd>

                        <dt class="col-sm-3">SKey</dt>
                        <dd class="col-sm-9">{{ form.SKey }}</dd>

                        <dt class="col-sm-3">SVal</dt>
                        <dd class="col-sm-9">{{ form.SVal }}</dd>

                        <dt class="col-sm-3">ParamType</dt>
                        <dd class="col-sm-9">{{ form.ParamType }}</dd>




                        <dt class="col-sm-3">Status</dt>
                        <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

                        <dt class="col-sm-3">Created</dt>
                        <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

                        <dt class="col-sm-3">Updated</dt>
                        <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            var _form = {
                Id: 0,
EntityType: "",
EntityRef: "",
SKey: "",
SVal: "",
ParamType: ""
            };

            var _formsearch = {
                Id: 0,
EntityType: "",
EntityRef: "",
SKey: "",
SVal: "",
ParamType: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },

                {"data": "EntityType" },
                {"data": "EntityRef" },
                {"data": "SKey" },
                {
                    "data": "SVal",
                    "render": function (data, type, row, meta) {
                        return '<samp>' + data + '</samp>';
                    }
                },
                {"data": "ParamType" },
                {"data": "RecordStatusText" },
                {"data": "CreatedAtText" },
                {"data": "UpdatedAtText" }
            ];

            var _list = {
                id: 0
            };

            FormUtil.Init({
                entity: 'Account/EntitySettings',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}
