﻿@{
    ViewBag.Title = "My Dashboard";
}
<div id="appView">
    <div class="row">
        <div class="col-md-8">

            <div class="card-group">
                <div class="card  bg-light">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <img src="~/dist/img/1.jpg" alt="user" width="60" class="rounded-circle">
                            </div>
                            <div>
                                <h3 class="m-b-0">Welcome <span v-html="user.UserName"></span>!</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" v-if="Wallet1.RecordStatus === 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3><span v-html="Wallet1.CurrencyName"></span> <span v-html="formatPrice(Wallet1.CurrentBalance)"></span> </h3>
                                <h6 class="card-subtitle"> <span v-html="Wallet1.WalletTypeName"></span></h6>

                                <div>
                                    @*<a :href="_baseurl + '/Wallets/Fund/' + Wallet1.Code" class="btn btn-sm btn-success waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Fund"><i class="ti-plus"></i></a>
                                    <a :href="_baseurl + '/Wallets/Withdraw/' + Wallet1.Code" class="btn btn-sm btn-secondary waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Withdraw">
                                        <i class="ti-minus"></i>
                                    </a>*@
                                    <a :href="_baseurl + '/Wallets/Statement/' + Wallet1.Code" class="btn btn-sm btn-info waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Statement">
                                        <i class="ti-menu-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" v-if="Wallet2.RecordStatus == 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3 v-html="formatPrice(Wallet2.CurrentBalance)"> </h3>
                                <h6 v-html="Wallet2.CurrencyName" class="card-subtitle"></h6>
                                <span v-html="Wallet2.WalletTypeName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="Wallet3.RecordStatus == 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3 v-html="formatPrice(Wallet3.CurrentBalance)"> </h3>
                                <h6 v-html="Wallet3.CurrencyName" class="card-subtitle"></h6>
                                <span v-html="Wallet3.WalletTypeName"></span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card earning-widget">
                        <div class="card-body border-bottom">
                            <h4 class="m-b-0">Latest Transactions</h4>
                        </div>
                        <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y"
                             style="height:300px;" data-ps-id="a86c698c-daa7-8b42-c37f-d9ea6fa95f6d">
                            <div class="d-flex flex-row comment-row m-t-0 border-top" v-for="item in Statement">
                                <div class="w-100">
                                    <span class="m-b-0 d-block" v-html="item.Narration">   </span>
                                    <div class="comment-footer">
                                        <span class="float-right" v-html="item.CurrencyName + ' ' + formatPrice(item.Amount)"></span>
                                        <span class="float-right">&nbsp;</span>
                                        <span class="float-right label" :class="formatLabel(item.DrCrText)" v-html="item.DrCrText"></span>
                                        <span v-html="formatDate(item.ValueDate, 1)"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card bg-white">
                <div class="card-body">
                    <h3><i class="ti-direction-alt font-20"></i>  Merchant Sign up</h3>
                    <p>Create your merchant account</p>
                    <div>
                        <a href="@Url.Action("GettingStarted","Corporates", new { id = "1" })" class="btn btn-sm btn-info waves-effect waves-light">Get Started</a>

                        <a href="@Url.Action("Index","Merchants")" class="btn btn-sm btn-secondary waves-effect waves-light">See Available Merchants</a>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table v-middle">

                        <tbody>
                            <tr v-for="item in corporates">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <a class="btn btn-circle btn-info text-white" v-html="item.NameLogo"></a>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16" v-html="item.Name"></h4>
                                            <span v-html="item.PublicName"></span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <a :href="_baseurl + '/Merchants/Home/' + item.Code" class="btn btn-sm btn-icon btn-pure btn-outline-primary"
                                       data-toggle="tooltip" data-original-title="MerchantHome"><i class="ti-home" aria-hidden="true"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var xwal = {
            "Name": "",
            "Code": "",
            "WalletTypeId": 0,
            "CurrentBalance": 0.00,
            "CurrencyId": 1, "OwnerId": 0, "WalletTypeName": "", "CurrencyName": "", "Id": 0
        }
        var pageApp = new Vue({
            el: '#appView',
            data: {
                corporates: [],
                userId: '@ViewBag.UserId',
                user: @Html.Raw(ViewBag.User),
                wallets: @Html.Raw(ViewBag.Wallets),
                ui: {
                    today: SiteUtil.Today()
                },
                Wallet1: xwal,
                Wallet2: xwal,
                Wallet3: xwal,
                Wallet4: xwal,
                Statement: []
            },
            methods: {
                formatPrice: function (value) {
                    return SiteUtil.formatPrice(value);
                },
                formatDate: function (value, typ) {
                    return SiteUtil.formatDate(value, typ);
                },
                formatLabel: function (value) {
                    return SiteUtil.formatLabel(value);
                },
                UserDashboard: function () {
                    var c = 0;
                    _.each(pageApp.wallets, function (wallet) {
                        c++;
                        if (c == 1) {
                            pageApp.Wallet1 = wallet;
                        }
                        if (c == 2) {
                            pageApp.Wallet2 = wallet;
                        }
                        if (c == 3) {
                            pageApp.Wallet3 = wallet;
                        }
                    });
                    pageApp.UserCorporates();
                    return 1;
                },
                UserCorporates: function () {
                    var req = MerchantDataUtil.UserActiveCorporates(pageApp.userId);
                    req.done(function (data) {
                        pageApp.corporates = data;
                    });
                    req.fail(function (data) {
                        ShowLoading("could not load merchants","error");
                    });
                    return 1;
                },
                UserStatement: function () {
                    var req = UserDataUtil.UserStatement(pageApp.userId);
                    req.done(function (data) {
                        pageApp.Statement = data;
                    });
                    req.fail(function (data) {
                        ShowLoading("could not get user statement", "warning");
                    });
                    return 1;
                },
            }
        });

        pageApp.UserDashboard();
        pageApp.UserStatement();
    </script>
}