﻿@{
    ViewBag.Title = "Merchant Dashboard";
}
@section breadcrumbs
{

    <li class="breadcrumb-item">
        <a href="@Url.Action("Home","Corporates")">My Merchants</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard @ViewBag.MerchantName</li>

}

<div id="appView">
    <div class="row">
        <div class="col-md-8">
            <div class="card-group">
                <div class="card  bg-light">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <img src="~/dist/img/2.jpg" alt="user" width="60" class="rounded-circle">
                                <div>MID: <span v-html="corporate.Id"></span></div>
                            </div>
                            <div>
                                <h3 class="m-b-0"><span v-html="corporate.Name"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="Wallet1.RecordStatus === 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3><span v-html="Wallet1.CurrencyName"></span> <span v-html="formatPrice(Wallet1.CurrentBalance)"></span> </h3>
                                <h6 class="card-subtitle"> <span v-html="Wallet1.WalletTypeName"></span></h6>
                                <div>
                                    <a href="#GiveChange" class="btn btn-sm btn-warning waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Give Change"><i class="ti-hand-point-right"></i></a>
                                    <a :href="_baseurl + '/Wallets/Fund/' + Wallet1.Code" class="btn btn-sm btn-success waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Fund"><i class="ti-plus"></i></a>
                                    <a :href="_baseurl + '/Wallets/Statement/' + Wallet1.Code" class="btn btn-sm btn-info waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Statement">
                                        <i class="ti-menu-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="Wallet2.RecordStatus == 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3 v-html="formatPrice(Wallet2.CurrentBalance)"> </h3>
                                <h6 v-html="Wallet2.CurrencyName" class="card-subtitle"></h6>
                                <span v-html="Wallet2.WalletTypeName"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="Wallet3.RecordStatus == 1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3 v-html="formatPrice(Wallet3.CurrentBalance)"> </h3>
                                <h6 v-html="Wallet3.CurrencyName" class="card-subtitle"></h6>
                                <span v-html="Wallet3.WalletTypeName"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-md-6">
                        <div class="card earning-widget">
                            <div class="card-body">
                                <h4 class="m-b-0">Pending Change Requests</h4>
                            </div>
                            <div class="border-top scrollable ps-container ps-theme-default ps-active-y" style="height:400px;" data-ps-id="e24e4d92-37d1-b34f-33fa-4250e2615723">
                                <table class="table v-middle">
                                    <thead>
                                        <tr>
                                            <td>Requested</td>
                                            <td>Mobile</td>
                                            <td align="right">Amount</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Oct 18</td>
                                            <td><samp>2348039590420</samp></td>
                                            <td align="right">NGN 300.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
                <div class="col-md-12">
                    <div class="card earning-widget">
                        <div class="card-body border-bottom">
                            <h4 class="m-b-0">Latest Transactions</h4>
                        </div>
                        <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y"
                             style="height:300px;" data-ps-id="a86c698c-daa7-8b42-c37f-d9ea6fa95f6d">
                            <div class="d-flex flex-row comment-row m-t-0 border-top" v-for="item in Statement">
                                <div class="w-100">
                                    <span class="m-b-0 d-block" v-html="item.Narration">   </span>
                                    <div class="comment-footer">
                                        <span class="float-right" v-html="item.CurrencyName + ' ' + formatPrice(item.Amount)"></span>
                                        <span class="float-right">&nbsp;</span>
                                        <span class="float-right label" :class="formatLabel(item.DrCrText)" v-html="item.DrCrText"></span>
                                        <span v-html="formatDate(item.ValueDate, 1)"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <a name="GiveChange"></a>
            <div class="card bg-light">
                <div class="card-body">
                    <h3><i class="ti-hand-open font-20"></i>Give Change</h3>
                    <form class="form p-t-20" @@submit.prevent="GiveChange">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="234" aria-label="Mobile" v-model="GiveChangeForm.Mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Amount</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Amount" aria-label="Amount" v-model="GiveChangeForm.Amount">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Payment Reference</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="" aria-label="PaymentReference" v-model="GiveChangeForm.PaymentReference">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="checkbox12" value="check" v-model="GiveChangeForm.SendAlert">
                                <label class="custom-control-label" for="checkbox12">Send Alert</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success m-r-10">Submit</button>
                        <button type="submit" class="btn btn-dark">Cancel</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="giveChangeConfirm" tabindex="-1" role="dialog" aria-labelledby="giveChangeConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Give Change</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to send NGN {{ GiveChangeForm.Amount }} to {{ GiveChangeForm.Beneficiary }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="ConfirmGiveChange">Yes!</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        var xwal = {
            "Name": "",
            "Code": "",
            "WalletTypeId": 0,
            "CurrentBalance": 0.00,
            "CurrencyId": 1, "OwnerId": 0, "WalletTypeName": "", "CurrencyName": "", "Id": 0
        };

        var xgxf = {
            MerchantId: @ViewBag.CorporateId,
            Mobile: '234',
            Amount: 0.00,
            PaymentReference: '',
            SendAlert: true,
            Beneficiary: '',
            SourceId: 'WEB'
        };
        var pageApp = new Vue({
            el: '#appView',
            data: {
                corporates: [],
                corporateId: '@ViewBag.CorporateId',
                corporate: @Html.Raw(ViewBag.Corporate),
                wallets: @Html.Raw(ViewBag.Wallets),
                ui: {
                    today: SiteUtil.Today()
                },
                Wallet1: xwal,
                Wallet2: xwal,
                Wallet3: xwal,
                Wallet4: xwal,
                GiveChangeForm: xgxf,
                Statement:[]
            },
            methods: {
                formatPrice: function (value) {
                    return SiteUtil.formatPrice(value);
                },
                formatDate: function (value, typ) {
                    return SiteUtil.formatDate(value, typ);
                },
                formatLabel: function (value) {
                    return SiteUtil.formatLabel(value);
                },
                MerchantDashboard: function () {
                    var c = 0;
                    _.each(pageApp.wallets, function (wallet) {
                        c++;
                        if (c == 1) {
                            pageApp.Wallet1 = wallet;
                        }
                        if (c == 2) {
                            pageApp.Wallet2 = wallet;
                        }
                        if (c == 3) {
                            pageApp.Wallet3 = wallet;
                        }
                    });
                    return 1;
                },
                MerchantWallets: function () {
                    var req = MerchantDataUtil.MerchantWallets(pageApp.corporateId);
                    req.done(function (data) {
                        pageApp.wallets = data;
                        pageApp.MerchantDashboard();
                    });
                    req.fail(function (data) {
                        ShowLoading("could not get merchant wallets", "warning");
                    });
                    return 1;
                },
                MerchantStatement: function () {
                    var req = MerchantDataUtil.MerchantStatement(pageApp.corporateId);
                    req.done(function (data) {
                        pageApp.Statement = data;
                    });
                    req.fail(function (data) {
                        ShowLoading("could not get merchant statement", "warning");
                    });
                    return 1;
                },
                GiveChange: function () {
                    if (!SiteUtil.IsValidAmount(pageApp.GiveChangeForm.Amount)) {
                        ShowLoading("Invalid Amount", "warning");
                        return 1;
                    }
                    var req = UserDataUtil.LookUpMobile(pageApp.GiveChangeForm.Mobile);
                    req.done(function (data) {
                        pageApp.GiveChangeForm.Beneficiary = data.UserName;
                        $('#giveChangeConfirm').modal('show');
                    });
                    req.fail(function (data) {
                        pageApp.GiveChangeForm.Beneficiary = pageApp.GiveChangeForm.Mobile;
                        $('#giveChangeConfirm').modal('show');
                        ShowLoading("could not find mobile", "warning");
                    });
                    return 1;
                },
                ConfirmGiveChange: function () {
                    $('#giveChangeConfirm').modal('hide');
                    var req = TransactDataUtil.GiveChange(pageApp.GiveChangeForm);
                    req.done(function (data) {
                        pageApp.MerchantWallets();
                        pageApp.MerchantStatement();
                        ShowLoading("Change sent to " + pageApp.GiveChangeForm.Beneficiary, "success");
                        pageApp.GiveChangeForm = xgxf;
                    });
                    req.fail(function (error) {
                        pageApp.MerchantWallets();
                        pageApp.MerchantStatement();
                        ShowLoading(error.responseJSON.Message, "error");
                    });
                    return 1;
                }
            }
        });
        pageApp.MerchantDashboard();
        pageApp.MerchantStatement();
    </script>
}