﻿
@{
    ViewBag.Title = "Search for Merchants";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="appMerchant">

    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="text-center">Merchants Search</h2>

            <div class="input-group mb-3 input-group-lg">
                <input type="text" class="form-control" v-model="Qry" placeholder="merchant" aria-label="merchant" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="button-addon2" v-on:click="SearchMerchants">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <div class="">
                        <samp>256</samp>
                    </div>
                    <h3 class="font-normal">Hydroflora Pots</h3>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-phone"></i></button>
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-credit-card"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
          
        var pageApp = new Vue({
            el: '#appView',
            data: {
                Corporates: [],
                Qry: '',
            },
            methods: {   
                SearchMerchants: function () { 
                    var req = TransactDataUtil.GiveChange(pageApp.GiveChangeForm);
                    req.done(function (data) {
                        pageApp.MerchantWallets();
                        pageApp.MerchantStatement();
                        ShowLoading("Change sent to " + pageApp.GiveChangeForm.Beneficiary, "success");
                        pageApp.GiveChangeForm = xgxf;
                    });
                    req.fail(function (error) {
                        pageApp.MerchantWallets();
                        pageApp.MerchantStatement();
                        ShowLoading(error.responseJSON.Message, "error");
                    });
                    return 1;
                }
            }
        });
        pageApp.MerchantDashboard();
        pageApp.MerchantStatement();
    </script>
}