﻿
@{
    ViewBag.Title = "Fund Wallet";
}

@section styles
{

}
<div id="appView">
    <div class="row">
        <div class="col-md-8">

            <div class="card-group">
                <div class="card  bg-light">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <img src="~/dist/img/2.jpg" alt="user" width="60" class="rounded-circle">
                            </div>
                            <div>
                                <h3 class="m-b-0"><span v-html="wallet.Name"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <h3><span v-html="wallet.CurrencyName"></span> <span v-html="formatPrice(wallet.CurrentBalance)"></span> </h3>
                                <h6 class="card-subtitle"> <span v-html="wallet.WalletTypeName"></span></h6>

                                <div>
                                    <a :href="_baseurl + '/Wallets/Fund/' + wallet.Code" class="btn btn-sm btn-success waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Fund"><i class="ti-plus"></i></a>
                                    <a :href="_baseurl + '/Wallets/Withdraw/' + wallet.Code" class="btn btn-sm btn-secondary waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Withdraw">
                                        <i class="ti-minus"></i>
                                    </a>
                                    <a :href="_baseurl + '/Wallets/Statement/' + wallet.Code" class="btn btn-sm btn-info waves-effect waves-light"
                                       data-toggle="tooltip" data-original-title="Statement">
                                        <i class="ti-menu-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>





            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form method="post" autocomplete="off" @@submit.prevent="justHoldIt">
                            <div class="form-body">
                                <div class="card-body">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Receipt Email</label>
                                                <input type="text" id="Email" name="Email" class="form-control" v-model="form.Email" :readonly="showConsent">
                                                <small class="form-control-feedback"> Email address to receive receipt </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Remarks</label>
                                                <input type="text" id="Remarks" name="Remarks" class="form-control" v-model="form.Remarks" :readonly="showConsent">
                                                <small class="form-control-feedback"> Remarks for transaction </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Amount</label>
                                                <input type="text" id="Amount" name="Amount" class="form-control" v-model="form.Amount" :readonly="showConsent">
                                                <small class="form-control-feedback">Amount to fund in NGN? </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Payment Reference</label>
                                                <input type="text" id="PaymentReference" name="PaymentReference" class="form-control" v-model="form.PaymentReference" :readonly="showConsent">
                                                <small class="form-control-feedback">Your Custom reference </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6" v-if="showConsent">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Transaction Source</label>
                                                <input type="text" id="SourceId" name="SourceId" class="form-control" v-model="form.SourceId" :readonly="showConsent">
                                                <small class="form-control-feedback"> Information </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6" v-if="showConsent">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Transaction Reference</label>
                                                <input type="text" id="TxId" name="TxId" class="form-control" v-model="form.TxId" :readonly="showConsent">
                                                <small class="form-control-feedback"> Please take note of this </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-info" v-if="!showConsent" v-on:click="PreProcess"> <i class="fa fa-play"></i> Proceed</button>
                                        <button type="submit" class="btn btn-success" v-if="showConsent" v-on:click="ForwardPayment"> <i class="fa fa-check"></i> Pay</button>
                                        <button type="button" class="btn btn-danger" v-if="showConsent" v-on:click="CancelPayment"> <i class="fa fa-stop"></i> Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </div>
        <div class="col-md-4">

            <div class="card bg-white">
                <div class="card-body">
                    <h3><i class="ti-direction-alt font-20"></i>  Merchant Sign up</h3>
                    <p>Create your merchant account</p>
                    <div>
                        <a href="@Url.Action("GettingStarted","Corporates", new { id = "1" })" class="btn btn-sm btn-info waves-effect waves-light">Get Started</a>

                        <a href="@Url.Action("Index","Merchants")" class="btn btn-sm btn-secondary waves-effect waves-light">See Available Merchants</a>
                    </div>
                </div>




            </div>
             
        </div>
    </div>
</div>



@section scripts
{
     
    <script type="text/javascript" src="@Html.Raw(ViewBag.RaveJS)"></script> 
    <script type="text/javascript">
        var Wallet = @Html.Raw(ViewBag.Wallet);
        var WalletFund = @Html.Raw(ViewBag.WalletFund);
        var pageApp = new Vue({
            el: '#appView',
            data: {
                wallet: Wallet, 
                form: WalletFund,
                showConsent: false
            },
            methods: {
                formatPrice: function (value) {
                    return SiteUtil.formatPrice(value);
                },
                PreProcess: function () {
                    //this is where I call Rave API
                    var n = new Number(pageApp.form.Amount);
                    if (isNaN(n)) {
                        ShowLoading("Invalid Amount.", "warning");
                        pageApp.form.Amount = 0;
                        return 1;
                    }
                    if (n < 0.01) {
                        ShowLoading("Invalid Amount..", "warning");
                        pageApp.form.Amount = 0;
                        return 1;
                    } 
                    var req = TransactDataUtil.InitiateFund(pageApp.form);
                    req.done(function (data) {
                        pageApp.form.TxId = data.TxId;  
                        pageApp.showConsent = true; 
                    });
                    req.fail(function (data) {
                        ShowLoading("could not initiate transaction", "error");
                    });
                    return 1;
                },
                ForwardPayment: function () {
                    //flag payment before opening gateway
                    var req = TransactDataUtil.ForwardPayment(pageApp.form);
                    req.done(function (data) {
                        TransactDataUtil.CallGateway(pageApp.form, "Fund " + pageApp.wallet.Name);
                    });
                    req.fail(function (data) {
                        ShowLoading("could not forward transaction: " + JSON.stringify(data), "error");
                    });
                    return 1;
                },
                CancelPayment: function () {
                    var req = TransactDataUtil.CancelPayment(pageApp.form.TxId);
                    req.done(function (data) {
                        ShowLoading("Payment has been cancelled!");
                        window.location = _baseurl + '/Transactions/Revalidate/' + pageApp.form.TxId;  
                    });
                    req.fail(function (data) {
                        ShowLoading("could not cancel transaction", "error");
                    });
                    return 1;
                },
                justHoldIt: function () {
                    return 1;
                }
            }
        });

    </script>
}