﻿
@{
	ViewBag.Title = "Index";
}


@{
	ViewBag.Title = "Wallets";
	ViewBag.Header = "Wallets";
	string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="WalletsSearch"></div>




<div class="row" id="filterView">
	<div class="col-md-12">
		<div class="collapse" id="collapseExample">

			<form action="" class="form p-3 mb-0 bg-light" method="get">
				<div class="row">

					<div class="form-group col-sm-12 col-md-3">
						<small>Name</small>
						<input type="text" name="name" id="name" value="" placeholder="Name" class="form-control form-control-sm" v-model="formsearch.Name">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>Code</small>
						<input type="text" name="code" id="code" value="" placeholder="Code" class="form-control form-control-sm" v-model="formsearch.Code">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>WalletTypeId</small>
						<input type="text" name="walletTypeId" id="walletTypeId" value="" placeholder="WalletTypeId" class="form-control form-control-sm" v-model="formsearch.WalletTypeId">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>CurrentBalance</small>
						<input type="text" name="currentBalance" id="currentBalance" value="" placeholder="CurrentBalance" class="form-control form-control-sm" v-model="formsearch.CurrentBalance">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>OpeningBalance</small>
						<input type="text" name="openingBalance" id="openingBalance" value="" placeholder="OpeningBalance" class="form-control form-control-sm" v-model="formsearch.OpeningBalance">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>BalanceLimit</small>
						<input type="text" name="balanceLimit" id="balanceLimit" value="" placeholder="BalanceLimit" class="form-control form-control-sm" v-model="formsearch.BalanceLimit">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>HeldBalance</small>
						<input type="text" name="heldBalance" id="heldBalance" value="" placeholder="HeldBalance" class="form-control form-control-sm" v-model="formsearch.HeldBalance">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>CurrencyId</small>
						<input type="text" name="currencyId" id="currencyId" value="" placeholder="CurrencyId" class="form-control form-control-sm" v-model="formsearch.CurrencyId">
					</div>
					<div class="form-group col-sm-12 col-md-3">
						<small>OwnerId</small>
						<input type="text" name="ownerId" id="ownerId" value="" placeholder="OwnerId" class="form-control form-control-sm" v-model="formsearch.OwnerId">
					</div>


					<div class="form-group col-sm-12 text-right mb-0">
						<button class="btn btn-sm btn-warning" type="reset" value="Cancel">
							Cancel
						</button>
						<button class="btn btn-sm btn-primary" type="submit" name="act">
							Search
						</button>
						<button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
							Export
						</button>
					</div>
				</div>
			</form>

		</div>

	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="text-right">
			<a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Filter/Export
				<i class="fa fa-search"></i>
			</a>
			<a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
				New
				<i class="fa fa-plus"></i>
			</a>
		</div>
		<table id="grid" class="table" style="width:100%">
			<thead>
				<tr>
					<th>
						<a href="javascript:;" onclick="FormUtil.FormCreate()">
							<i class="fa fa-plus"></i>
						</a>
					</th>
					<th>Name</th>
					<th>Code</th>
					<th>WalletTypeId</th>
					<th>CurrentBalance</th>
					<th>OpeningBalance</th>
					<th>BalanceLimit</th>
					<th>HeldBalance</th>
					<th>CurrencyId</th>
					<th>OwnerId</th>
					<th>Status</th>
					<th>Created</th>
					<th>Updated</th>

				</tr>
			</thead>
		</table>
	</div>
</div>

<div id="appView">
	<!-- Modal -->
	<div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<form method="post" @@submit.prevent="submit">

								<input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
									   name="Id" type="hidden" value="0" v-model="form.Id" />
								<div class="white-box">
									<div class="row">
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="Name">Name</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The Name field is required." id="Name"
												   name="Name" type="text" value="" v-model="form.Name" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="Code">Code</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The Code field is required." id="Code"
												   name="Code" type="text" value="" v-model="form.Code" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="WalletTypeId">WalletTypeId</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The WalletTypeId field is required." id="WalletTypeId"
												   name="WalletTypeId" type="text" value="" v-model="form.WalletTypeId" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="CurrentBalance">CurrentBalance</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The CurrentBalance field is required." id="CurrentBalance"
												   name="CurrentBalance" type="text" value="" v-model="form.CurrentBalance" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="OpeningBalance">OpeningBalance</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The OpeningBalance field is required." id="OpeningBalance"
												   name="OpeningBalance" type="text" value="" v-model="form.OpeningBalance" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="BalanceLimit">BalanceLimit</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The BalanceLimit field is required." id="BalanceLimit"
												   name="BalanceLimit" type="text" value="" v-model="form.BalanceLimit" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="HeldBalance">HeldBalance</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The HeldBalance field is required." id="HeldBalance"
												   name="HeldBalance" type="text" value="" v-model="form.HeldBalance" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="CurrencyId">CurrencyId</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The CurrencyId field is required." id="CurrencyId"
												   name="CurrencyId" type="text" value="" v-model="form.CurrencyId" />
										</div>
										<div class="form-group col-sm-12 col-md-4">
											<label class="req control-label" for="OwnerId">OwnerId</label>
											<input class="form-control text-box single-line" data-val="true" data-val-required="The OwnerId field is required." id="OwnerId"
												   name="OwnerId" type="text" value="" v-model="form.OwnerId" />
										</div>


										<div class="form-group col-sm-6">

											<input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
												   type="radio" value="0" v-model="form.RecordStatus" />
											<label>Pending</label>
											<input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
											<label>Active</label>
											<input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
											<label>Disabled</label>
										</div>
										<div class="form-group col-sm-6 text-right">
											<button type="reset" class="btn btn-warning btn-sm">Cancel</button>
											<input type="submit" value="Submit" class="btn btn-primary btn-sm" />
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<dl class="row">


						<dt class="col-sm-3">Name</dt>
						<dd class="col-sm-9">{{ form.Name }}</dd>

						<dt class="col-sm-3">Code</dt>
						<dd class="col-sm-9">{{ form.Code }}</dd>

						<dt class="col-sm-3">WalletTypeId</dt>
						<dd class="col-sm-9">{{ form.WalletTypeId }}</dd>

						<dt class="col-sm-3">CurrentBalance</dt>
						<dd class="col-sm-9">{{ form.CurrentBalance }}</dd>

						<dt class="col-sm-3">OpeningBalance</dt>
						<dd class="col-sm-9">{{ form.OpeningBalance }}</dd>

						<dt class="col-sm-3">BalanceLimit</dt>
						<dd class="col-sm-9">{{ form.BalanceLimit }}</dd>

						<dt class="col-sm-3">HeldBalance</dt>
						<dd class="col-sm-9">{{ form.HeldBalance }}</dd>

						<dt class="col-sm-3">CurrencyId</dt>
						<dd class="col-sm-9">{{ form.CurrencyId }}</dd>

						<dt class="col-sm-3">OwnerId</dt>
						<dd class="col-sm-9">{{ form.OwnerId }}</dd>




						<dt class="col-sm-3">Status</dt>
						<dd class="col-sm-9">{{ form.RecordStatusText }}</dd>

						<dt class="col-sm-3">Created</dt>
						<dd class="col-sm-9">{{ form.CreatedAtText }}</dd>

						<dt class="col-sm-3">Updated</dt>
						<dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
					</dl>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
				</div>
			</div>
		</div>
	</div>


</div>


@section scripts
{
	<script type="text/javascript">

		$(document).ready(function () {

			var _form = {
				Id: 0,
Name: "",
Code: "",
WalletTypeId: "",
CurrentBalance: "",
OpeningBalance: "",
BalanceLimit: "",
HeldBalance: "",
CurrencyId: "",
OwnerId: ""
			};

			var _formsearch = {
				Id: 0,
Name: "",
Code: "",
WalletTypeId: "",
CurrentBalance: "",
OpeningBalance: "",
BalanceLimit: "",
HeldBalance: "",
CurrencyId: "",
OwnerId: ""
			};
			var _columns = [
				{
					"data": "Id",
					"render": function (data, type, row, meta) {
						return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
					}
				},

{"data": "Name" },
{"data": "Code" },
{"data": "WalletTypeId" },
{"data": "CurrentBalance" },
{"data": "OpeningBalance" },
{"data": "BalanceLimit" },
{"data": "HeldBalance" },
{"data": "CurrencyId" },
{"data": "OwnerId" },
{"data": "RecordStatusText" },
{"data": "CreatedAtText" },
{"data": "UpdatedAtText" }
			];

			var _list = {
				id: 0
			};

			FormUtil.Init({
				entity: 'MyChange/Wallets',
				url: '@sim',
				form: _form,
				formsearch: _formsearch,
				columns: _columns,
				table: 'grid',
				createModal: 'crudModal',
				updateModal: 'crudModal',
				detailModal: 'detailModal',
				list: _list
			});
		});
	</script>
}
