﻿
@{
    ViewBag.Title = "Statement";
    string sim = Bootes.Core.Common.Constants.API_URL;
}

<div id="appView">
    <div class="row">
        <div class="col-12">
            <table id="grid" class="table table-hover" style="width:100%; font-size:0.8em;">
                <thead>
                    <tr>
                        <th>Value Date</th>
                        <th>Source</th>
                        <th>Type</th>
                        <th>PayRef</th>
                        <th>Narration</th>
                        <th>Dr/Cr</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Balance BF</th>
                        <th>Transactions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <h2></h2>




</div>



@section scripts
{
    <script type="text/javascript">
        var wallet = @Html.Raw(ViewBag.Wallet);
        $(document).ready(function () {
             
            var _columns = [
                {
                    "data": "ValueDate",
                    "className": 'd-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        return SiteUtil.formatDate(data, 1);
                    }
                },
                {
                    "data": "SourceId",
                    "className": 'd-none d-sm-table-cell' },
                {
                    "data": "TransactCodeName",
                    "className": 'd-none d-sm-table-cell' },
                {
                    "data": "PaymentReferenceText",
                    "className": 'd-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        return '<samp>' + data + '</samp>';
                    }
                },
                {
                    "data": "Narration",
                    "className": 'd-none d-sm-table-cell' 
                },
                {
                    "data": "DrCrText",
                    "className": 'd-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        return '<span class="label ' + SiteUtil.formatLabel(row.DrCrText) + '">' + data + '</span>';
                    }
                },
                {
                    "data": "Amount",
                    "className": 'text-right d-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        if (row.DrCr == 2) {
                            return '<samp>' + SiteUtil.formatPrice(data) + '</samp>';
                        }
                        else {
                            return ' ';
                        }
                    }
                },
                {
                    "data": "Amount",
                    "className": 'text-right d-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        if (row.DrCr == 1) {
                            return '<samp>' + SiteUtil.formatPrice(data) + '</samp>';
                        }
                        else {
                            return ' ';
                        }
                    }
                },
                {
                    "data": "CurrentBalanceBF",
                    "className": 'text-right d-none d-sm-table-cell',
                    "render": function (data, type, row, meta) {
                        return '<samp>' + SiteUtil.formatPrice(data) + '</samp>';
                    }
                },
                {
                    "data": "Id",
                    "className": 'd-block d-sm-none',
                    "render": function (data, type, row, meta) {
                        return '<div class="d-flex flex-row comment-row m-t-0"><div class="w-100"><span class="m-b-0 d-block">' + row.Narration
                            + '  </span> <div class="comment-footer"><span class="float-right">'
                            + row.CurrencyName + ' ' + SiteUtil.formatPrice(row.Amount)
                            + '</span > <span class="float-right">&nbsp;</span> <span class="float-right label '
                            + SiteUtil.formatLabel(row.DrCrText) + '">' + row.DrCrText
                            + '</span> <span>' + SiteUtil.formatDate(row.ValueDate, 1) + '</span></div ></div ></div>';
                    }
                }
            ];

            var _row = {
                "createdRow": function (row, data, index) {
                    //if (data.DrCr === 2) {
                    //    $(row).addClass("label-warning");
                    //}
                }
            } 

            FormUtil.Grid({
                entity: 'MyChange/WalletStatements',
                url: '@sim',
                columns: _columns,
                row: _row,
                table: 'grid',
                query: "WalletId=" + wallet.Id
            });
        });
    </script>
}
