﻿
@{
	ViewBag.Title = "WalletStatements";
	ViewBag.Header = "WalletStatements";
	string sim = Bootes.Core.Common.Constants.API_URL;
	
}
@section styles{


}

<div class="spp" data-perm="WalletStatementsSearch"></div>
 
   
 

  <div class="row" id="filterView"> 
			<div class="col-md-12">
				<div class="collapse" id="collapseExample">

					<form action="" class="form p-3 mb-0 bg-light" method="get">
						<div class="row">

							<div class="form-group col-sm-12 col-md-3">
	<small>WalletTransactId</small>
	<input type="text" name="walletTransactId" id="walletTransactId" value="" placeholder="WalletTransactId" class="form-control form-control-sm" v-model="formsearch.WalletTransactId" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>WalletId</small>
	<input type="text" name="walletId" id="walletId" value="" placeholder="WalletId" class="form-control form-control-sm" v-model="formsearch.WalletId" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>Amount</small>
	<input type="text" name="amount" id="amount" value="" placeholder="Amount" class="form-control form-control-sm" v-model="formsearch.Amount" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>CurrentBalance</small>
	<input type="text" name="currentBalance" id="currentBalance" value="" placeholder="CurrentBalance" class="form-control form-control-sm" v-model="formsearch.CurrentBalance" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>CurrencyId</small>
	<input type="text" name="currencyId" id="currencyId" value="" placeholder="CurrencyId" class="form-control form-control-sm" v-model="formsearch.CurrencyId" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>DrCr</small>
	<input type="text" name="drCr" id="drCr" value="" placeholder="DrCr" class="form-control form-control-sm" v-model="formsearch.DrCr" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>ValueDate</small>
	<input type="text" name="valueDate" id="valueDate" value="" placeholder="ValueDate" class="form-control form-control-sm" v-model="formsearch.ValueDate" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>PaymentReference</small>
	<input type="text" name="paymentReference" id="paymentReference" value="" placeholder="PaymentReference" class="form-control form-control-sm" v-model="formsearch.PaymentReference" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>Narration</small>
	<input type="text" name="narration" id="narration" value="" placeholder="Narration" class="form-control form-control-sm" v-model="formsearch.Narration" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>SourceId</small>
	<input type="text" name="sourceId" id="sourceId" value="" placeholder="SourceId" class="form-control form-control-sm" v-model="formsearch.SourceId" >
</div>
<div class="form-group col-sm-12 col-md-3">
	<small>TransactionCodeId</small>
	<input type="text" name="transactionCodeId" id="transactionCodeId" value="" placeholder="TransactionCodeId" class="form-control form-control-sm" v-model="formsearch.TransactionCodeId" >
</div>
 
							
							<div class="form-group col-sm-12 text-right mb-0">
								<button class="btn btn-sm btn-warning" type="reset" value="Cancel">
									Cancel
								</button>
								<button class="btn btn-sm btn-primary" type="submit" name="act">
									Search
								</button>
								<button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
									Export
								</button>
							</div>
						</div>
					</form>

				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="text-right">
					<a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						Filter/Export
						<i class="fa fa-search"></i>
					</a>
					<a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
						New
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<table id="grid" class="table" style="width:100%">
					<thead>
						<tr>
							<th>
								<a href="javascript:;" onclick="FormUtil.FormCreate()">
									<i class="fa fa-plus"></i>
								</a>
							</th>
							 <th>WalletTransactId</th> 
 <th>WalletId</th> 
 <th>Amount</th> 
 <th>CurrentBalance</th> 
 <th>CurrencyId</th> 
 <th>DrCr</th> 
 <th>ValueDate</th> 
 <th>PaymentReference</th> 
 <th>Narration</th> 
 <th>SourceId</th> 
 <th>TransactionCodeId</th> 
 <th>Status</th> 
 <th>Created</th> 
 <th>Updated</th> 

						</tr>
					</thead>
				</table>
			</div>
		</div>

		<div id="appView">
		<!-- Modal -->
			<div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<form method="post" @@submit.prevent="submit">

										<input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
											name="Id" type="hidden" value="0" v-model="form.Id" />
										<div class="white-box">
											<div class="row">
											<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="WalletTransactId">WalletTransactId</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The WalletTransactId field is required." id="WalletTransactId"
		name="WalletTransactId" type="text" value="" v-model="form.WalletTransactId" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="WalletId">WalletId</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The WalletId field is required." id="WalletId"
		name="WalletId" type="text" value="" v-model="form.WalletId" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="Amount">Amount</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The Amount field is required." id="Amount"
		name="Amount" type="text" value="" v-model="form.Amount" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="CurrentBalance">CurrentBalance</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The CurrentBalance field is required." id="CurrentBalance"
		name="CurrentBalance" type="text" value="" v-model="form.CurrentBalance" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="CurrencyId">CurrencyId</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The CurrencyId field is required." id="CurrencyId"
		name="CurrencyId" type="text" value="" v-model="form.CurrencyId" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="DrCr">DrCr</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The DrCr field is required." id="DrCr"
		name="DrCr" type="text" value="" v-model="form.DrCr" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="ValueDate">ValueDate</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The ValueDate field is required." id="ValueDate"
		name="ValueDate" type="text" value="" v-model="form.ValueDate" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="PaymentReference">PaymentReference</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The PaymentReference field is required." id="PaymentReference"
		name="PaymentReference" type="text" value="" v-model="form.PaymentReference" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="Narration">Narration</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The Narration field is required." id="Narration"
		name="Narration" type="text" value="" v-model="form.Narration" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="SourceId">SourceId</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The SourceId field is required." id="SourceId"
		name="SourceId" type="text" value="" v-model="form.SourceId" />
</div>
<div class="form-group col-sm-12 col-md-4">
	<label class="req control-label" for="TransactionCodeId">TransactionCodeId</label>
	<input class="form-control text-box single-line" data-val="true" data-val-required="The TransactionCodeId field is required." id="TransactionCodeId"
		name="TransactionCodeId" type="text" value="" v-model="form.TransactionCodeId" />
</div>

												  
												<div class="form-group col-sm-6">

													<input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
														type="radio" value="0"  v-model="form.RecordStatus" />
													<label>Pending</label>
													<input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
													<label>Active</label>
													<input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
													<label>Disabled</label>
												</div>
												<div class="form-group col-sm-6 text-right">
													<button type="reset" class="btn btn-warning btn-sm">Cancel</button>
													<input type="submit" value="Submit" class="btn btn-primary btn-sm" />
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<dl class="row">
 
								
								<dt class="col-sm-3">WalletTransactId</dt>
								<dd class="col-sm-9">{{ form.WalletTransactId }}</dd>

								<dt class="col-sm-3">WalletId</dt>
								<dd class="col-sm-9">{{ form.WalletId }}</dd>

								<dt class="col-sm-3">Amount</dt>
								<dd class="col-sm-9">{{ form.Amount }}</dd>

								<dt class="col-sm-3">CurrentBalance</dt>
								<dd class="col-sm-9">{{ form.CurrentBalance }}</dd>

								<dt class="col-sm-3">CurrencyId</dt>
								<dd class="col-sm-9">{{ form.CurrencyId }}</dd>

								<dt class="col-sm-3">DrCr</dt>
								<dd class="col-sm-9">{{ form.DrCr }}</dd>

								<dt class="col-sm-3">ValueDate</dt>
								<dd class="col-sm-9">{{ form.ValueDate }}</dd>

								<dt class="col-sm-3">PaymentReference</dt>
								<dd class="col-sm-9">{{ form.PaymentReference }}</dd>

								<dt class="col-sm-3">Narration</dt>
								<dd class="col-sm-9">{{ form.Narration }}</dd>

								<dt class="col-sm-3">SourceId</dt>
								<dd class="col-sm-9">{{ form.SourceId }}</dd>

								<dt class="col-sm-3">TransactionCodeId</dt>
								<dd class="col-sm-9">{{ form.TransactionCodeId }}</dd>
 


								
								<dt class="col-sm-3">Status</dt>
								<dd class="col-sm-9">{{ form.RecordStatusText }}</dd>
								
								<dt class="col-sm-3">Created</dt>
								<dd class="col-sm-9">{{ form.CreatedAtText }}</dd>
								
								<dt class="col-sm-3">Updated</dt>
								<dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
							</dl> 
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
						</div>
					</div>
				</div>
			</div>


		</div>


@section scripts
{
  <script type="text/javascript">

		$(document).ready(function () {
			
			var _form = {
				Id: 0,
WalletTransactId: "",
WalletId: "",
Amount: "",
CurrentBalance: "",
CurrencyId: "",
DrCr: "",
ValueDate: "",
PaymentReference: "",
Narration: "",
SourceId: "",
TransactionCodeId: ""
			};

			var _formsearch = {
				Id: 0,
WalletTransactId: "",
WalletId: "",
Amount: "",
CurrentBalance: "",
CurrencyId: "",
DrCr: "",
ValueDate: "",
PaymentReference: "",
Narration: "",
SourceId: "",
TransactionCodeId: ""
			};
			var _columns = [
				{
					"data": "Id",
					"render": function (data, type, row, meta) {
						return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
					}
				},
				
{"data": "WalletTransactId" },
{"data": "WalletId" },
{"data": "Amount" },
{"data": "CurrentBalance" },
{"data": "CurrencyId" },
{"data": "DrCr" },
{"data": "ValueDate" },
{"data": "PaymentReference" },
{"data": "Narration" },
{"data": "SourceId" },
{"data": "TransactionCodeId" },
{"data": "RecordStatusText" },
{"data": "CreatedAtText" },
{"data": "UpdatedAtText" }
			];

			var _list = {
				id: 0
			};

			FormUtil.Init({
				entity: 'MyChange/WalletStatements',
				url: '@sim',
				form: _form,
				formsearch: _formsearch,
				columns: _columns,
				table: 'grid',
				createModal: 'crudModal',
				updateModal: 'crudModal',
				detailModal: 'detailModal',
				list: _list
			});
		});
	</script>
}
