﻿
@{
    ViewBag.Title = "OutBoxes";
    ViewBag.Header = "OutBoxes";
    string sim = Bootes.Core.Common.Constants.API_URL;

}
@section styles{


}

<div class="spp" data-perm="OutBoxesSearch"></div>
 
   
 

  <div class="row" id="filterView"> 
            <div class="col-md-12">
                <div class="collapse" id="collapseExample">

                    <form action="" class="form p-3 mb-0 bg-light" method="get">
                        <div class="row">

                            <div class="form-group col-sm-12 col-md-3">
    <small>ToAddress</small>
    <input type="text" name="toAddress" id="toAddress" value="" placeholder="ToAddress" class="form-control form-control-sm" v-model="formsearch.ToAddress" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>FromAddress</small>
    <input type="text" name="fromAddress" id="fromAddress" value="" placeholder="FromAddress" class="form-control form-control-sm" v-model="formsearch.FromAddress" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>Subject</small>
    <input type="text" name="subject" id="subject" value="" placeholder="Subject" class="form-control form-control-sm" v-model="formsearch.Subject" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>MessageCode</small>
    <input type="text" name="messageCode" id="messageCode" value="" placeholder="MessageCode" class="form-control form-control-sm" v-model="formsearch.MessageCode" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>MessageTypeId</small>
    <input type="text" name="messageTypeId" id="messageTypeId" value="" placeholder="MessageTypeId" class="form-control form-control-sm" v-model="formsearch.MessageTypeId" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>ScheduledAt</small>
    <input type="text" name="scheduledAt" id="scheduledAt" value="" placeholder="ScheduledAt" class="form-control form-control-sm" v-model="formsearch.ScheduledAt" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>Contents</small>
    <input type="text" name="contents" id="contents" value="" placeholder="Contents" class="form-control form-control-sm" v-model="formsearch.Contents" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>Attachments</small>
    <input type="text" name="attachments" id="attachments" value="" placeholder="Attachments" class="form-control form-control-sm" v-model="formsearch.Attachments" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>IsSent</small>
    <input type="text" name="isSent" id="isSent" value="" placeholder="IsSent" class="form-control form-control-sm" v-model="formsearch.IsSent" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>SentAt</small>
    <input type="text" name="sentAt" id="sentAt" value="" placeholder="SentAt" class="form-control form-control-sm" v-model="formsearch.SentAt" >
</div>
<div class="form-group col-sm-12 col-md-3">
    <small>SentRemarks</small>
    <input type="text" name="sentRemarks" id="sentRemarks" value="" placeholder="SentRemarks" class="form-control form-control-sm" v-model="formsearch.SentRemarks" >
</div>
 
                            
                            <div class="form-group col-sm-12 text-right mb-0">
                                <button class="btn btn-sm btn-warning" type="reset" value="Cancel">
                                    Cancel
                                </button>
                                <button class="btn btn-sm btn-primary" type="submit" name="act">
                                    Search
                                </button>
                                <button class="btn btn-sm btn-dark" type="submit" name="act" value="export">
                                    Export
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Filter/Export
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="javascript:;" onclick="FormUtil.FormCreate()" role="button" class="btn btn-light btn-sm">
                        New
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <table id="grid" class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                <a href="javascript:;" onclick="FormUtil.FormCreate()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </th>
                             <th>ToAddress</th> 
 <th>FromAddress</th> 
 <th>Subject</th> 
 <th>MessageCode</th> 
 <th>MessageTypeId</th> 
 <th>ScheduledAt</th> 
 <th>Contents</th> 
 <th>Attachments</th> 
 <th>IsSent</th> 
 <th>SentAt</th> 
 <th>SentRemarks</th> 
 <th>Status</th> 
 <th>Created</th> 
 <th>Updated</th> 

                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div id="appView">
        <!-- Modal -->
            <div class="modal fade" id="crudModal" tabindex="-1" role="dialog" aria-labelledby="crudModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="crudModallLabel">{{ frmTitle }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post" @@submit.prevent="submit">

                                        <input data-val="true" data-val-number="The field Id must be a number." data-val-required="The Id field is required." id="Id"
                                            name="Id" type="hidden" value="0" v-model="form.Id" />
                                        <div class="white-box">
                                            <div class="row">
                                            <div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="ToAddress">ToAddress</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The ToAddress field is required." id="ToAddress"
        name="ToAddress" type="text" value="" v-model="form.ToAddress" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="FromAddress">FromAddress</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The FromAddress field is required." id="FromAddress"
        name="FromAddress" type="text" value="" v-model="form.FromAddress" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="Subject">Subject</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The Subject field is required." id="Subject"
        name="Subject" type="text" value="" v-model="form.Subject" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="MessageCode">MessageCode</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The MessageCode field is required." id="MessageCode"
        name="MessageCode" type="text" value="" v-model="form.MessageCode" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="MessageTypeId">MessageTypeId</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The MessageTypeId field is required." id="MessageTypeId"
        name="MessageTypeId" type="text" value="" v-model="form.MessageTypeId" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="ScheduledAt">ScheduledAt</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The ScheduledAt field is required." id="ScheduledAt"
        name="ScheduledAt" type="text" value="" v-model="form.ScheduledAt" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="Contents">Contents</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The Contents field is required." id="Contents"
        name="Contents" type="text" value="" v-model="form.Contents" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="Attachments">Attachments</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The Attachments field is required." id="Attachments"
        name="Attachments" type="text" value="" v-model="form.Attachments" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="IsSent">IsSent</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The IsSent field is required." id="IsSent"
        name="IsSent" type="text" value="" v-model="form.IsSent" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="SentAt">SentAt</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The SentAt field is required." id="SentAt"
        name="SentAt" type="text" value="" v-model="form.SentAt" />
</div>
<div class="form-group col-sm-12 col-md-4">
    <label class="req control-label" for="SentRemarks">SentRemarks</label>
    <input class="form-control text-box single-line" data-val="true" data-val-required="The SentRemarks field is required." id="SentRemarks"
        name="SentRemarks" type="text" value="" v-model="form.SentRemarks" />
</div>

                                                  
                                                <div class="form-group col-sm-6">

                                                    <input checked="checked" data-val="true" data-val-required="The RecordStatus field is required." id="RecordStatus" name="RecordStatus"
                                                        type="radio" value="0"  v-model="form.RecordStatus" />
                                                    <label>Pending</label>
                                                    <input id="RecordStatus" name="RecordStatus" type="radio" value="1" v-model="form.RecordStatus" />
                                                    <label>Active</label>
                                                    <input id="RecordStatus" name="RecordStatus" type="radio" value="2" v-model="form.RecordStatus" />
                                                    <label>Disabled</label>
                                                </div>
                                                <div class="form-group col-sm-6 text-right">
                                                    <button type="reset" class="btn btn-warning btn-sm">Cancel</button>
                                                    <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailModalLabel">{{ frmTitle }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <dl class="row">
 
                                
                                <dt class="col-sm-3">ToAddress</dt>
                                <dd class="col-sm-9">{{ form.ToAddress }}</dd>

                                <dt class="col-sm-3">FromAddress</dt>
                                <dd class="col-sm-9">{{ form.FromAddress }}</dd>

                                <dt class="col-sm-3">Subject</dt>
                                <dd class="col-sm-9">{{ form.Subject }}</dd>

                                <dt class="col-sm-3">MessageCode</dt>
                                <dd class="col-sm-9">{{ form.MessageCode }}</dd>

                                <dt class="col-sm-3">MessageTypeId</dt>
                                <dd class="col-sm-9">{{ form.MessageTypeId }}</dd>

                                <dt class="col-sm-3">ScheduledAt</dt>
                                <dd class="col-sm-9">{{ form.ScheduledAt }}</dd>

                                <dt class="col-sm-3">Contents</dt>
                                <dd class="col-sm-9">{{ form.Contents }}</dd>

                                <dt class="col-sm-3">Attachments</dt>
                                <dd class="col-sm-9">{{ form.Attachments }}</dd>

                                <dt class="col-sm-3">IsSent</dt>
                                <dd class="col-sm-9">{{ form.IsSent }}</dd>

                                <dt class="col-sm-3">SentAt</dt>
                                <dd class="col-sm-9">{{ form.SentAt }}</dd>

                                <dt class="col-sm-3">SentRemarks</dt>
                                <dd class="col-sm-9">{{ form.SentRemarks }}</dd>
 


                                
                                <dt class="col-sm-3">Status</dt>
                                <dd class="col-sm-9">{{ form.RecordStatusText }}</dd>
                                
                                <dt class="col-sm-3">Created</dt>
                                <dd class="col-sm-9">{{ form.CreatedAtText }}</dd>
                                
                                <dt class="col-sm-3">Updated</dt>
                                <dd class="col-sm-9">{{ form.UpdatedAtText }}</dd>
                            </dl> 
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteItem">Delete</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>


@section scripts
{
  <script type="text/javascript">

        $(document).ready(function () {
            
            var _form = {
                Id: 0,
ToAddress: "",
FromAddress: "",
Subject: "",
MessageCode: "",
MessageTypeId: "",
ScheduledAt: "",
Contents: "",
Attachments: "",
IsSent: "",
SentAt: "",
SentRemarks: ""
            };

            var _formsearch = {
                Id: 0,
ToAddress: "",
FromAddress: "",
Subject: "",
MessageCode: "",
MessageTypeId: "",
ScheduledAt: "",
Contents: "",
Attachments: "",
IsSent: "",
SentAt: "",
SentRemarks: ""
            };
            var _columns = [
                {
                    "data": "Id",
                    "render": function (data, type, row, meta) {
                        return '<a href="javascript:;" onclick="FormUtil.FormUpdate(' + data + ')"><i class="fa fa-edit"></i></a> <a href="javascript:;" onclick="FormUtil.FormDetail(' + data + ')"><i class="fa fa-external-link-alt"></i></a>';
                    }
                },
                
{"data": "ToAddress" },
{"data": "FromAddress" },
{"data": "Subject" },
{"data": "MessageCode" },
{"data": "MessageTypeId" },
{"data": "ScheduledAt" },
{"data": "Contents" },
{"data": "Attachments" },
{"data": "IsSent" },
{"data": "SentAt" },
{"data": "SentRemarks" },
{"data": "RecordStatusText" },
{"data": "CreatedAtText" },
{"data": "UpdatedAtText" }
            ];

            var _list = {
                id: 0
            };

            FormUtil.Init({
                entity: 'Content/OutBoxes',
                url: '@sim',
                form: _form,
                formsearch: _formsearch,
                columns: _columns,
                table: 'grid',
                createModal: 'crudModal',
                updateModal: 'crudModal',
                detailModal: 'detailModal',
                list: _list
            });
        });
    </script>
}
