﻿@model Bootes.Core.Domain.Form.Accounts.SignUpForm 
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    string sim = Bootes.Core.Common.Constants.SITE_URL;
}
<div class="row" id="appView">
    <div class="col-md-12">
        <h4>Get Started</h4>
        <p>
            You are welcome to myChange
        </p>
    </div>
    
    <div class="col-md-12">
        <div class="card">
            <form method="post" autocomplete="off">
                <div class="form-body">
                    <div class="card-body">
                        <div class="row p-t-20">
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" id="firstName" name="FirstName" class="form-control" v-model="form.FirstName">
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" id="lastName" name="LastName" class="form-control" v-model="form.LastName">
                                    <small class="form-control-feedback">  </small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">Public Name</label>
                                    <input type="text" id="nickName" name="PublicName" class="form-control" v-model="form.PublicName">
                                    <small class="form-control-feedback"> This name will be on your public profile </small>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <select2 name="CountryId" id="countryId" v-model="form.CountryId">
                                        <option v-for="item in Countries" v-bind:value="item.Id" v-html:value="item.Name"></option>
                                    </select2>
                                    <small class="form-control-feedback">What country are you in? </small>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label class="control-label">Mobile Number</label>
                                    <input type="text" id="mobile" name="Mobile" class="form-control" v-model="form.Mobile">
                                    <small class="form-control-feedback">International mobile number </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="form-group">
                                    <label class="control-label">PIN</label>
                                    <input type="password" id="pin" name="PIN" class="form-control" v-model="form.PIN">
                                    <small class="form-control-feedback">Enter a 4-digit PIN </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="form-group">
                                    <label class="control-label">Confirm</label>
                                    <input type="password" id="pin2" name="PIN2" class="form-control" v-model="form.Pin2">
                                    <small class="form-control-feedback">Confirm PIN</small>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" id="email" name="Email" class="form-control" v-model="form.Email">
                                    <small class="form-control-feedback"> Your email address</small>
                                </div>
                            </div>

                            <div class="col-md-4 col-6">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" id="password"  name="Password" class="form-control" v-model="form.Password">
                                    <small class="form-control-feedback">Set Your password </small>
                                </div>
                            </div>

                            <div class="col-md-4 col-6">
                                <div class="form-group">
                                    <label class="control-label">Confirm</label>
                                    <input type="password" id="password2" name="Password2" class="form-control" v-model="form.Password2">
                                    <small class="form-control-feedback">Confirm password </small>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var _list = {
            id: 0,
             Countries: @Html.Raw(ViewBag.Countries),
        }; 
         
        function setForm() {
            var _form =  @Html.Raw(ViewBag.Form);
            return _form;
        }

        var baseurl = '@sim';

        var app = new Vue({
            el: '#appView',
            data: {
                form: setForm(),
                Countries : _list.Countries
            }
        });
    </script>
}