﻿@model Bootes.Core.Domain.Form.Accounts.SignInForm
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
    string sim = Bootes.Core.Common.Constants.SITE_URL;
}
<div class="row" id="appView">

     
    <div class="col-md-6 offset-md-3">
        <div class="card">
            
            <form method="post" autocomplete="off">
                <div class="form-body">
                    <div class="card-body bg-light">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" id="email" name="Email" class="form-control" v-model="form.Email">
                                    <small class="form-control-feedback"> Your email address</small>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" id="password" name="Password" class="form-control" v-model="form.Password">
                                    <small class="form-control-feedback">Your password </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                                    <a href="@Url.Action("ResetPwd","Accounts")" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"> <i class="fa fa-check"></i> Submit</button>


                        <div class="form-group row m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href="@Url.Action("SignUp","Accounts")" class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>
                    </div> 
                </div>
</form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        

        function setForm() {
            var _form =  @Html.Raw(ViewBag.Form);
            return _form;
        }

        var baseurl = '@sim';

        var app = new Vue({
            el: '#appView',
            data: {
                form: setForm()
            }
        });
    </script>
}