﻿
@{
    var alerts = TempData.ContainsKey(Bootes.Core.UI.Alert.TempDataKey)
                ? (List<Bootes.Core.UI.Alert>)TempData[Bootes.Core.UI.Alert.TempDataKey]
                : new List<Bootes.Core.UI.Alert>();


    foreach (var alert in alerts)
    {
        @*var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
            <div class="alert alert-@alert.AlertStyle @dismissableClass">
                @if (alert.Dismissable)
                {
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                }
                @Html.Raw(alert.Message)
            </div>*@

        <script type="text/javascript">
                    $(document).ready(function () {
                        ShowLoading('@Html.Raw(alert.Message)', '@alert.AlertStyle');
                    });
        </script>

    }

}

