﻿@model List<string>

<li class="sidebar-item">
    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index","Dashboard")" aria-expanded="false">
        <i class="sl-icon-loop"></i>
        <span class="hide-menu">My Dashboard</span>
    </a>
</li>



@if (Model.Contains("SysAdmin"))
{
    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)
                                   " aria-expanded="false">
            <i class="mdi mdi-notification-clear-all"></i>
            <span class="hide-menu">Site Admin</span>
        </a>


        <ul aria-expanded="false" class="collapse first-level">
            <li class="sidebar-item">
                <a href="@Url.Action("Index", "Apps")" class="sidebar-link">
                    <i class="mdi mdi-octagram"></i>
                    <span class="hide-menu">Apps</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="@Url.Action("Index", "EntitySettings")" class="sidebar-link">
                    <i class="mdi mdi-octagram"></i>
                    <span class="hide-menu">Settings</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="@Url.Action("Index", "Corporates")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Corporates</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="@Url.Action("Index", "CorporateRoles")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Roles</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="@Url.Action("Index", "SiteUsers")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Users</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a href="@Url.Action("Index", "Locations")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Locations</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="@Url.Action("Index", "Wallets")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Wallets</span>
                </a>
            </li>

        </ul>

    </li>

    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)
                                   " aria-expanded="false">
            <i class="mdi mdi-notification-clear-all"></i>
            <span class="hide-menu">Content</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level">

            <li class="sidebar-item">
                <a href="@Url.Action("Index", "Articles")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Articles</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="@Url.Action("Index", "OutBoxes")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">OutBoxes</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="sidebar-item">
        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0) " aria-expanded="false">
            <i class="mdi mdi-notification-clear-all"></i>
            <span class="hide-menu">Merchants Admin</span>
        </a>
        <ul aria-expanded="false" class="collapse first-level">


            <li class="sidebar-item">
                <a href="@Url.Action("ApproveList", "Corporates")" class="sidebar-link">
                    <i class="mdi mdi-playlist-check"></i>
                    <span class="hide-menu">Approve/Reject</span>
                </a>
            </li>
        </ul>
    </li>
}

@if (Model.Contains("Merchant"))
{
    <li class="sidebar-item">
        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Home", "Corporates")" aria-expanded="false">
            <i class="icon-Shop-4"></i>
            <span class="hide-menu">List Merchants</span>
        </a>
    </li>

    @*<li class="sidebar-item">
        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Admins", "Users")" aria-expanded="false">
            <i class="icon-Talk-Man"></i>
            <span class="hide-menu">List Users</span>
        </a>
    </li>*@

}

